GEMINI_API_KEY=AIzaSyAtuFM2zMVrWtScbiZkiCr3pIG5H9495Ns
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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